.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.Group-4 {
  width: 4.3330078125em;
}
