$main-text-color: #907e82;
$text-white-color: #ffffff;
$text-black-color: #000000;
$accent-pink-color: #ffa5ba;
$accent-red-color: #d41443;
$footer-line-color: #e1e1e1;

$bgc-white-color: #ffffff;
$bgc-main-color: #fff5f6;
$bgc-hero-color: #ffb8ca;
$bgc-testimonials: #fafafa;

$bgc-red-item-hover: #c7133e;
$bgc-white-item-hover: #ecebeb;

$shadow-contacts: 0px 8px 30px rgba(212, 20, 67, 0.1);
$typical-cubic: cubic-bezier(0.4, 0, 0.2, 1);
