<section class="about" id="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrap">
      <div class="about__pic"></div>
      <div class="about__container">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est deserunt in, distinctio
          ullam mollitia dolores ad odit vero, atque, nemo possimus voluptates? At rerum non, modi
          exercitationem adipisci ducimus asperiores.
        </p>
        <button class="about__btn" type="button" data-readmore-open>
          Read more
          <svg class="about__btn-icon" width="7" height="16">
            <use href="./images/icons.svg#btn-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
