<section class="advantages">
    <div class="advantage-container">
        <ul class="advantage-list">
            <li class="advantage-list__item">
                <p>721</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage-list__item">
                <p>16kg</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage-list__item">
                <p>84</p>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>