<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item" data-aos="fade-right" data-aos-duration="1000" data-aos-once>
        <p class="advantages__content">
          <span class="advantages__text">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item" data-aos="fade-right" data-aos-duration="1500" data-aos-once>
        <p class="advantages__content advantages__content--icon2">
          <span class="advantages__text">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item" data-aos="fade-right" data-aos-duration="2000" data-aos-once>
        <p class="advantages__content advantages__content--icon3">
          <span class="advantages__text">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
