<section class="advantages">
    <div class="advantages-container container">
        <h2 class="advantages__title">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages-pic"></div>
                <p class="advantages__numbers">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages-pic--icon2"></div>
                <p class="advantages__numbers advantages__numbers--icon2">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages-pic--icon3"></div>
                <p class="advantages__numbers advantages__numbers--icon3">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>