<section class="contacts">
    <div class="contacts__container container">
        <h1 class="contacts__title">Contacts</h1>
        <ul class="contacts__list">
            <li class="contacts__item">
                <span class="contacts__cafe">CAFE</span>
                <h3 class="contacts__subtitle">Chicago</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts__schedule">
                    <li class="contacts__items">
                        <h3 class="contacts__days">Monday - Friday</h3>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__items">
                        <h3 class="contacts__days">Saturday - Sunday</h3>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="">
                    <li class="">
                        <a class="contacts__link" href="tel:+61(0)383766284 ">
                            +61(0) 383 766 284</a>
                    </li>
                    <li class="">
                        <a class="contacts__link" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <span class="contacts__food">FOOD TRUCK</span>
                <h3 class="contacts__subtitle">Los Angeles</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts__schedule">
                    <li class="contacts__items">
                        <h3 class="contacts__days">Monday - Friday</h3>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__items">
                        <h3 class="contacts__days">Saturday - Sunday</h3>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="">
                    <li class="">
                        <a class="contacts__link" href="tel:+61(0)383766284 ">
                            +61(0) 383 766 284</a>
                    </li>
                    <li class="">
                        <a class="contacts__link" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <span class="contacts__cafe">CAFE</span>
                <h3 class="contacts__subtitle">New York</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts__schedule">
                    <li class="contacts__items">
                        <h3 class="contacts__days">Monday - Friday</h3>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__items">
                        <h3 class="contacts__days">Saturday - Sunday</h3>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="">
                    <li class="">
                        <a class="contacts__link" href="tel:+61(0)383766284 ">
                            +61(0) 383 766 284</a>
                    </li>
                    <li class="">
                        <a class="contacts__link" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                        </li>
                </ul>
            </li>
        </ul>
        <div class="btn">
            <button class="btn__locations" type="button">
                <span class="btn__text">Our Locations</span>
            <svg class="icon__locations" width="5px" height="8px">
                <use href="images/icons.svg#btn-icon"></use>
            </svg>
            </button>
            <button class="btn__franchise" type="button">
                <span class="btn__text">Franchise</span>
            <svg class="icon__franchise" width="5px" height="8px">
                <use href="images/icons.svg#btn-icon"></use>
            </svg>
            </button>
        </div>
    </div>
</section>