<section class="contacts contacts__container" id="contacts">
  <div class="container">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="contacts__list">
      <li class="border__chicago">
        <div class="image__chicago">
          <div class="contacts__item">
            <p class="contacts__cafe contacts__position">CAFE</p>
            <h3 class="contacts__subtitle contacts__position">Chicago</h3>
            <p class="contacts__text contacts__position">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="contacts__schedule contacts__position">
              <li class="contacts__items">
                <p class="contacts__days">Monday - Friday</p>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__items">
                <p class="contacts__days">Saturday - Sunday</p>
                <p class="contacts__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="contacts__position contacts__connection">
              <li class="">
                <a class="contacts__link" href="tel:+610383766284 "> +61(0) 383 766 284</a>
              </li>
              <li class="">
                <a class="contacts__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="border__los-angeles">
        <div class="image__los-angeles">
          <div class="contacts__item">
            <p class="contacts__food contacts__position">FOOD TRUCK</p>
            <h3 class="contacts__subtitle contacts__position">Los Angeles</h3>
            <p class="contacts__text contacts__position">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="contacts__schedule contacts__position">
              <li class="contacts__items">
                <p class="contacts__days">Monday - Friday</p>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__items">
                <p class="contacts__days">Saturday - Sunday</p>
                <p class="contacts__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="contacts__position contacts__connection">
              <li class="">
                <a class="contacts__link" href="tel:+610383766284 "> +61(0) 383 766 284</a>
              </li>
              <li class="">
                <a class="contacts__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="border__new-york">
        <div class="image__new-york">
          <div class="contacts__item">
            <p class="contacts__cafe contacts__position">CAFE</p>
            <h3 class="contacts__subtitle contacts__position">New York</h3>
            <p class="contacts__text contacts__position">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="contacts__schedule contacts__position">
              <li class="contacts__items">
                <p class="contacts__days">Monday - Friday</p>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__items">
                <p class="contacts__days">Saturday - Sunday</p>
                <p class="contacts__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="contacts__position contacts__connection">
              <li class="">
                <a class="contacts__link" href="tel:+610383766284 "> +61(0) 383 766 284</a>
              </li>
              <li class="">
                <a class="contacts__link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li class="contacts__button">
        <button class="contacts__locations" type="button" data-modal2-open>
          Our Locations
          <svg class="icon__locations" width="5px" height="8px">
            <use href="images/icons.svg#btn-icon"></use>
          </svg>
        </button>
        <div class="backdrop is-hidden" aria-hidden="true" data-modal2>
          <div class="modal2">
            <button type="button" class="modal2__close" data-modal2-close>
              <svg class="close" width="18" height="18">
                <use href="images/icons.svg#close"></use>
              </svg>
            </button>
            <div class="modal2__locations">
              <h2 class="modal2__name">Our Locations cafe</h2>
              <iframe
                class="modal2__maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6047.616945416616!2d-74.00090969809818!3d40.722232586415515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1e384b6d7b%3A0x9df5a8457455ca80!2sSarabeth&#39;s!5e0!3m2!1sru!2sua!4v1652029125181!5m2!1sru!2sua"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </li>
      <li class="contacts__button">
        <button class="contacts__franchise" type="button" data-modalfr-open2>
          Franchise
          <svg class="icon__franchise" width="5px" height="8px">
            <use href="images/icons.svg#btn-icon"></use>
          </svg>
        </button>
        <div class="backdrop is-hidden" aria-hidden="true" data-modalfr>
          <div class="modalfr">
            <button type="button" class="modal2__close" data-modalfr-close>
              <svg class="close" width="18" height="18">
                <use href="images/icons.svg#close"></use>
              </svg>
            </button>
            <div class="modalfr__franchise">
              <h2 class="modalfr__name">Franchise</h2>
              <p class="modalfr__lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus libero eius
                magni fugit ducimus eos, iure blanditiis. Hic mollitia quis impedit sunt, earum
                alias suscipit veniam saepe in vel fugit sequi recusandae amet incidunt debitis rem
                quaerat nesciunt vitae voluptas. Modi maiores facilis laborum eum necessitatibus
                cupiditate ea omnis? Qui?
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
