<footer class="footer">
  <div class="container container-modified">
    <div class="footer__wrap">

        <p class="footer__text--label">
          homemade ice cream made</br><span class="footer__text">with passion</span>
        </p>
    
      <div class="footer__social--box">
        <ul class="footer__social--list">
          <li class="footer__social--item">
            <a
              class="footer__social--link"
              href="https://github.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer__social--icon" width="20px" height="20px">
                <use href="images/icons.svg#footer-github"></use></svg
            ></a>
          </li>
          <li class="footer__social--item">
            <a
              class="footer__social--link"
              href="https://telegram.org"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer__social--icon" width="20px" height="20px">
                <use href="images/icons.svg#footer-telegram"></use></svg
            ></a>
          </li>
          <li class="footer__social--item">
            <a
              class="footer__social--link"
              href="https://www.facebook.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer__social--icon" width="20px" height="20px">
                <use href="images/icons.svg#footer-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__number--box">
          <p class="footer__number">Feel free to contact</p>
          <a class="footer__number--link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    <p class="footer__copyright--mobile">
      &copy; 2022 - IceCream.<br />
      All Rights Reserved
    </p>
    <p class="footer__copyright">&copy; 2022 - IceCream. All Rights Reserved</p>
  </div>
</footer>
