<footer class="footer">
  <div class="footer__container">
    <p class="footer__text">
      <span class="footer__text--label">homemade ice cream made</span></br>with passion
    <ul class="footer__social--list">
        <li class="footer__social--item"><a
                class="footer__social--link"
                href="https://github.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer__social--icon" width="20px" height="20px">
                  <use href=""></use>
                </svg></li>
        <li class="footer__social--item"><a
                class="footer__social--link"
                href="https://telegram.org"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer__social--icon" width="20px" height="20px">
                  <use href="\"></use>
                </svg></li>
        <li class="footer__social--item"><a
                class="footer__social--link"
                href="https://www.facebook.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer__social--icon" width="20px" height="20px">
                  <use href=""></use>
                </svg></li>
    </ul>
    </p>
  </div>
</footer>
