<footer class="footer">
  <div class="footer__container">
<div class="footer__wrap">
      <div class="footer__text--box">
      <p class="footer__text--label">homemade ice cream made</p>
      <p class="footer__text">with passion</p>
      </div>   
        <ul class="footer__social--list">
        <li class="footer__social--item"><a
                class="footer__social--link"
                href="https://github.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer__social--icon" width="32px" height="32px">
                  <use href="images/icons.svg#github"></use>
                </svg></li>
        <li class="footer__social--item"><a
                class="footer__social--link"
                href="https://telegram.org"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer__social--icon" width="32px" height="32px">
                  <use href="images/icons.svg#telegram"></use>
                </svg></li>
        <li class="footer__social--item"><a
                class="footer__social--link"
                href="https://www.facebook.com"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer__social--icon" width="32px" height="32px">
                  <use href="images/icons.svg#facebook"></use>
                </svg></li>
    </ul>
    <p class="footer__number">Feel free to contact<a class="footer__number--link">+61 (0) 383 766 284</a></p>

  </div>
    <p class="footer__copyright--mobile">&copy; 2019 - IceCream.</br> All Rights Reserved</p>
    <p class="footer__copyright">&copy; 2019 - IceCream. All Rights Reserved</p>
</div>
</footer>
