<section class="gallery" id="gallery">
  <div class="container" data-aos="fade-right" data-aos-duration="3000">
    <h2 class="gallery__title">Gallery</h2>
    <ul class="gallery__list gallery__list-mobile">
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-1.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-1.png"
            alt="Ice cream with pistachios"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-2.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-2.png"
            alt="Bubble gum flavored ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-3.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-3.png"
            alt="Fruit ice cream cones"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-4.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-4.png"
            alt="Fresh fruits with ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-5.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-5.png"
            alt="Dog eats delicious ice cream"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
        <br />
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-6.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-6.png"
            alt="Milkshake with ice cream and donut"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-7.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-7.png"
            alt="Raspberry ice cream"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-8.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-8.png"
            alt="Happy girl with white ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-9.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-9.png"
            alt="Red ice cream with peanuts"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile/img-10.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile/img-10.png"
            alt="Chokolate milkshake"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
    </ul>
    <ul class="gallery__list gallery__list-mobile-retina">
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-1.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-1.png"
            alt="Ice cream with pistachios"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-2.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-2.png"
            alt="Bubble gum flavored ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-3.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-3.png"
            alt="Fruit ice cream cones"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-4.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-4.png"
            alt="Fresh fruits with ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-5.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-5.png"
            alt="Dog eats delicious ice cream"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
        <br />
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-6.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-6.png"
            alt="Milkshake with ice cream and donut"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-7.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-7.png"
            alt="Raspberry ice cream"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-8.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-8.png"
            alt="Happy girl with white ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-9.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-9.png"
            alt="Red ice cream with peanuts"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/mobile-retina/img-10.jpg" class="gallery__link">
          <img
            src="images/gallery/mobile-retina/img-10.png"
            alt="Chokolate milkshake"
            class="gallery__image"
            width="140"
            height="140"
          />
        </a>
      </li>
    </ul>
    <ul class="gallery__list gallery__list-tablet">
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-1.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-1.png"
            alt="Ice cream with pistachios"
            class="gallery__image"
            width="257"
            height="257"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-2.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-2.png"
            alt="Bubble gum flavored ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-3.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-3.png"
            alt="Fruit ice cream cones"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-4.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-4.png"
            alt="Fresh fruits with ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-5.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-5.png"
            alt="Dog eats delicious ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
        <br />
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-6.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-6.png"
            alt="Milkshake with ice cream and donut"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-7.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-7.png"
            alt="Raspberry ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-8.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-8.png"
            alt="Happy girl with white ice cream"
            class="gallery__image"
            width="257"
            height="257"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-9.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-9.png"
            alt="Red ice cream with peanuts"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet/img-10.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet/img-10.png"
            alt="Chokolate milkshake"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
    </ul>
    <ul class="gallery__list gallery__list-tablet-retina">
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-1.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-1.png"
            alt="Ice cream with pistachios"
            class="gallery__image"
            width="257"
            height="257"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-2.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-2.png"
            alt="Bubble gum flavored ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-3.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-3.png"
            alt="Fruit ice cream cones"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-4.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-4.png"
            alt="Fresh fruits with ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-5.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-5.png"
            alt="Dog eats delicious ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
        <br />
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-6.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-6.png"
            alt="Milkshake with ice cream and donut"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-7.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-7.png"
            alt="Raspberry ice cream"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-8.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-8.png"
            alt="Happy girl with white ice cream"
            class="gallery__image"
            width="257"
            height="257"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-9.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-9.png"
            alt="Red ice cream with peanuts"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/tablet-retina/img-10.jpg" class="gallery__link">
          <img
            src="images/gallery/tablet-retina/img-10.png"
            alt="Chokolate milkshake"
            class="gallery__image"
            width="125"
            height="125"
          />
        </a>
      </li>
    </ul>
    <ul class="gallery__list gallery__list-desktop">
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-1.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-1.png 1x, images/gallery/desktop/img-1@2x.png 2x"
            src="images/gallery/desktop/img-1.png"
            alt="Ice cream with pistachios"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-2.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-2.png 1x, images/gallery/desktop/img-2@2x.png 2x"
            src="images/gallery/desktop/img-2.png"
            alt="Bubble gum flavored ice cream"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-3.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-3.png 1x, images/gallery/desktop/img-3@2x.png 2x"
            src="images/gallery/desktop/img-3.png"
            alt="Fruit ice cream cones"
            class="gallery__image"
            width="284"
            height="284"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-4.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-4.png 1x, images/gallery/desktop/img-4@2x.png 2x"
            src="images/gallery/desktop/img-4.png"
            alt="Fresh fruits with ice cream"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-5.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-5.png 1x, images/gallery/desktop/img-5@2x.png 2x"
            src="images/gallery/desktop/img-5.png"
            alt="Dog eats delicious ice cream"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
        <br />
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-6.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-6.png 1x, images/gallery/desktop/img-6@2x.png 2x"
            src="images/gallery/desktop/img-6.png"
            alt="Milkshake with ice cream and donut"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-7.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-7.png 1x, images/gallery/desktop/img-7@2x.png 2x"
            src="images/gallery/desktop/img-7.png"
            alt="Raspberry ice cream"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-8.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-8.png 1x, images/gallery/desktop/img-8@2x.png 2x"
            src="images/gallery/desktop/img-8.png"
            alt="Happy girl with white ice cream"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-9.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-9.png 1x, images/gallery/desktop/img-9@2x.png 2x"
            src="images/gallery/desktop/img-9.png"
            alt="Red ice cream with peanuts"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/desktop/img-10.jpg" class="gallery__link">
          <img
            srcset="images/gallery/desktop/img-10.png 1x, images/gallery/desktop/img-10@2x.png 2x"
            src="images/gallery/desktop/img-10.png"
            alt="Chokolate milkshake"
            class="gallery__image"
            width="138"
            height="138"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
