<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <a href="images/gallery/img-1.jpg" class="gallery__link">
          <img
            src="images/gallery/img-1.png"
            alt="Ice cream with pistachios"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-2.jpg" class="gallery__link">
          <img
            src="images/gallery/img-2.png"
            alt="Bubble gum flavored ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-3.jpg" class="gallery__link">
          <img
            src="images/gallery/img-3.png"
            alt="Raspberry ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-4.jpg" class="gallery__link">
          <img
            src="images/gallery/img-4.png"
            alt="Fruit ice cream cones"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-5.jpg" class="gallery__link">
          <img
            src="images/gallery/img-5.png"
            alt="Happy girl with white ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-6.jpg" class="gallery__link">
          <img
            src="images/gallery/img-6.png"
            alt="Fresh fruits with ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-7.jpg" class="gallery__link">
          <img
            src="images/gallery/img-7.png"
            alt="Red ice cream with peanuts"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-8.jpg" class="gallery__link">
          <img
            src="images/gallery/img-8.png"
            alt="Dog eats delicious ice cream"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-9.jpg" class="gallery__link">
          <img
            src="images/gallery/img-9.png"
            alt="Chokolate milkshake"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="images/gallery/img-10.jpg" class="gallery__link">
          <img
            src="images/gallery/img-10.png"
            alt="Milkshake with ice cream and donut"
            class="gallery__image"
            width="286"
            height="286"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
