<header class="header" id="home">
  <div class="container header__container animate__bounceInDown">
    <a class="header-logo__link" href="index.html"
      ><picture>
        <source
          srcset="/images/header/logo.webp 1x, /images/header/logo@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="/images/header/logo.png 1x, /images/header/logo@2x.png 2x"
          type="image/png"
        />
        <img src="/images/header/logo.png" alt="Company logo" width="199" height="50" /> </picture
    ></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#products">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#gallery">Our products</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <div class="header-btn">
      <button class="btn__menu" type="button" data-menu-open>
        <svg width="20" height="20">
          <use href="/images/icons.svg#burger"></use>
        </svg>
      </button>
      <button class="btn-buy" type="button" data-modal-open2>
        Buy now
        <svg class="btn-buy__icon">
          <use href="images/icons.svg#btn-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
