<section class="hero">
  <div class="container hero__container">
    <!-- content -->
    <div class="hero__content">
      <div class="hero__main-content">
        <h1 class="hero__title animate__rubberBand">
          ice cream <br />
          made with <br /><span class="hero__title--red"> passion</span>
        </h1>
        <div class="hero__numbers animate__bounceInDown">
          <div class="hero__item">
            <p class="hero__item-title">16</p>
            <p class="hero__item-text hero__item-text-cafe">cafes</p>
          </div>
          <div class="hero__item">
            <p class="hero__item-title">23</p>
            <p class="hero__item-text hero__item-text-cafe">food trucks</p>
          </div>
        </div>
        <ul class="hero__numbers animate__bounceInDown">
          <li class="hero__item">
            <p class="hero__item-title">
              16 <span class="hero__item-text hero__item-text-cafe">cafes</span>
            </p>
          </li>
          <li class="hero__item">
            <p class="hero__item-title">
              23 <span class="hero__item-text hero__item-text-cafe">food trucks</span>
            </p>
          </li>
        </ul>

        <!-- buttons -->

        <ul class="button__animation">
          <li><a href="#products" class="button hero__button">Products</a></li>
          <li>
            <a href="#about" class="button hero__button hero__button--light"> How it’s made? </a>
          </li>
        </ul>
        <div class="hero__text-block">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <p class="hero__text hero__text--description">
            This paragraph is description about our georgeous milk from canadain cows.
          </p>

          <button type="button" class="hero__arrow">
            <svg class="hero__arrow--icon" width="26" height="26">
              <use href="images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- images -->

      <picture class="hero__icecream animate__fadeInUpBig">
        <source
          srcset="
            images/hero/desktop/hero-icecream_desktop@1x-webp.webp 1x,
            images/hero/desktop/hero-icecream_desktop@2x-webp.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/desktop/hero-icecream_desktop@1x.png 1x,
            images/hero/desktop/hero-icecream_desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            images/hero/tablet/hero-icecream_tablet@1x-webp.webp 1x,
            images/hero/tablet/hero-icecream_tablet@2x-webp.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/tablet/hero-icecream_tablet@1x.png 1x,
            images/hero/tablet/hero-icecream_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            images/hero/mobile/hero-icecream_mobile@1x-webp.webp 1x,
            images/hero/mobile/hero-icecream_mobile@2x-webp.webp 2x
          "
          media="(max-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/mobile/hero-icecream_mobile@1x.png 1x,
            images/hero/mobile/hero-icecream_mobile@2x.png 2x
          "
          media="(max-width: 768px)"
          type="image/png"
        />
        <img src="images/hero/desktop/hero-icecream_desktop@1x.png" alt="icecream" />
      </picture>
      <picture class="hero__milk animate__rubberBand">
        <source
          srcset="
            images/hero/desktop/hero-milk_desktop@1x-webp.webp 1x,
            images/hero/desktop/hero-milk_desktop@2x-webp.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/desktop/hero-milk_desktop@1x.png 1x,
            images/hero/desktop/hero-milk_desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            images/hero/tablet/hero-milk_tablet@1x-webp.webp 1x,
            images/hero/tablet/hero-milk_tablet@2x-webp.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/tablet/hero-milk_tablet@1x.png 1x,
            images/hero/tablet/hero-milk_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <img src="images/hero/desktop/hero-milk_desktop@1x.png" alt="icecream" />
      </picture>
      <picture class="hero__girl animate__fadeInBottomRight">
        <source
          srcset="
            images/hero/desktop/hero-girl_desktop@1x-webp.webp 1x,
            images/hero/desktop/hero-girl_desktop@2x-webp.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/desktop/hero-girl_desktop@1x.png 1x,
            images/hero/desktop/hero-girl_desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            images/hero/tablet/hero-girl_tablet@1x-webp.webp 1x,
            images/hero/tablet/hero-girl_tablet@2x-webp.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            images/hero/tablet/hero-girl_tablet@1x.png 1x,
            images/hero/tablet/hero-girl_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <img src="images/hero/desktop/hero-girl_desktop@1x.png" alt="icecream" />
      </picture>
    </div>
  </div>
  <a href="#" class="arrowUp">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
</section>
