<section class="hero">
  <div class="container hero__container">
    <!-- content -->
    <div class="hero__content">
      <div class="hero__main-content">
        <div>
          <h1 class="hero__title">
            ice cream <br />
            made with <br /><span class="hero__title--red"> passion</span>
          </h1>
        </div>
        <div class="hero__numbers">

        <div class="hero__item">
          <p class="hero__item-title">16</p>
          <p class="hero__item-text hero__item-text-cafe">cafes</p>
        </div>
           <div class="hero__item">
          <p class="hero__item-title">23</p>
          <p class="hero__item-text hero__item-text-cafe">food trucks</p>
        </div>
           </div>
          <!-- <ul class="hero__list">
            <li class="hero__item">
              <p class="hero__item-title">16</p>
              <p class="hero__item-text hero__item-text-cafe">cafes</p>
            </li>

            <li class="hero__item">
              <p class="hero__item-title">23</p>
              <p class="hero__item-text hero__item-text-food">food trucks</p>
            </li>
          </ul>
        </div> -->
   
      <!-- buttons -->
      <div>
        <button type="button" class="button hero__button">Products</button>
        <button type="button" class="button hero__button hero__button--light">
          How it’s made?
        </button>
      </div>
      <div class="hero__text-block">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="hero__arrow">
          <svg class="hero__arrow--icon" width="26" height="26">
            <use href="images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>



    <!-- images -->

    <picture class="hero__icecream">
      <source
        srcset="
          images/hero/desktop/hero-icecream_desktop@1x.png 1x,
          images/hero/desktop/hero-icecream_desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          images/hero/tablet/hero-icecream_tablet@1x.png 1x,
          images/hero/tablet/hero-icecream_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          images/hero/mobile/hero-icecream_mobile@1x.png 1x,
          images/hero/mobile/hero-icecream_mobile@2x.png 2x
        "
        media="(max-width: 768px)"
        type="image/png"
      />
      <img src="images/hero/desktop/hero-icecream_desktop@1x.png" alt="icecream" />
    </picture>
    <picture class="hero__milk">
      <source
        srcset="
          images/hero/desktop/hero-milk_desktop@1x.png 1x,
          images/hero/desktop/hero-milk_desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          images/hero/tablet/hero-milk_tablet@1x.png 1x,
          images/hero/tablet/hero-milk_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <img src="images/hero/desktop/hero-milk_desktop@1x.png" alt="icecream" />
    </picture>
    <picture class="hero__girl">
      <source
        srcset="
          images/hero/desktop/hero-girl_desktop@1x.png 1x,
          images/hero/desktop/hero-girl_desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          images/hero/tablet/hero-girl_tablet@1x.png 1x,
          images/hero/tablet/hero-girl_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <img src="images/hero/desktop/hero-girl_desktop@1x.png" alt="icecream" />
    </picture>

    <!-- number -->
    <!-- <picture class="hero__number hero__number--one">
      <source
        srcset="
          images/hero/desktop/hero-number16_desktop@1x.png 1x,
          images/hero/desktop/hero-number16_desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          images/hero/tablet/hero-number16_tablet@1x.png 1x,
          images/hero/tablet/hero-number16_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <img src="images/hero/desktop/hero-number16_desktop@1x.png" alt="icecream" />
    </picture>
    <picture class="hero__number hero__number--two">
      <source
        srcset="
          images/hero/desktop/hero-number23_desktop@1x.png 1x,
          images/hero/desktop/hero-number23_desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          images/hero/tablet/hero-number23_tablet@1x.png 1x,
          images/hero/tablet/hero-number23_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <img src="images/hero/desktop/hero-number23_desktop@1x.png" alt="icecream" />
    </picture> -->
  </div>
</section>
