<div class="overlay">
    <div class="menu" id="menu">
        <button type="button" class="menu-close is-open" data-menu>
            <svg class="menu-close__icon">
            <use href="images/icons.svg#close"></use>
            </svg>
        </button>
        <button type="button" class="menu-button">Buy now
            <svg class="menu-button__icon">
                <use href="images/icons.svg#btn-icon"></use>
            </svg>
        </button>
        <nav class="menu-nav">
            <ul class="menu-nav__list">
                <li class="menu-nav__item" id="home"><a class="menu-nav__link" href="">Home</a></li>
                <li class="menu-nav__item" id="about us"><a class="menu-nav__link" href="">About us</a></li>
                <li class="menu-nav__item" id="how it's made"><a class="menu-nav__link" href="">How it's made?</a></li>
                <li class="menu-nav__item" id="our products"><a class="menu-nav__link" href="">Our products</a></li>
                <li class="menu-nav__item" id="contact"><a class="menu-nav__link" href="">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>