<div class="overlay" data-menu>
  <div class="menu" id="menu">
    <div class="menu-container">
      <button type="button" class="menu-close is-open" data-menu-close>
        <svg class="menu-close__icon">
          <use href="images/icons.svg#close"></use>
        </svg>
      </button>
      <button type="button" class="menu-button" data-modal-open>
        Buy now
        <svg class="menu-button__icon">
          <use href="images/icons.svg#btn-icon"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-nav__list">
          <li class="menu-nav__item"><a class="menu-nav__link" href="#home">Home</a></li>
          <li></li>
          <li class="menu-nav__item">
            <a class="menu-nav__link" href="#products">About us</a>
          </li>
          <li class="menu-nav__item">
            <a class="menu-nav__link" href="#about">How it’s made?</a>
          </li>
          <li class="menu-nav__item">
            <a class="menu-nav__link" href="#gallery">Our products</a>
          </li>
          <li class="menu-nav__item"><a class="menu-nav__link" href="#contacts">Contacts</a></li>
        </ul>
      </nav>
      <div class="list-block">
        <ul class="socials socials__list">
          <li class="socials__item">
            <a
              href="https://github.com"
              target="_blank"
              rel="noreferrer noopener"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="images/icons.svg#footer-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://telegram.org"
              target="_blank"
              rel="noreferrer noopener"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="images/icons.svg#footer-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="noreferrer noopener"
              class="socials__link"
            >
              <svg class="socials__icon">
                <use href="images/icons.svg#footer-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="tel-number">
          Feel free to contact
          <a class="tel-number__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
</div>
