<section class="products" id="products">
  <div class="container">
    <h2 class="products-label">100% natural</h2>
    <h2 class="products-title">products</h2>
    <ul class="products-list">
      <li
        class="products-item products-item__ice-cream"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1500"
      >
        <h3 class="products-name">ice cream</h3>
        <p class="products-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products-button" type="button">
          <svg class="products-button__icon" width="13" height="13">
            <use href="images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li
        class="products-item products-item__ice-coffee"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <h3 class="products-name">ice coffee</h3>
        <p class="products-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products-button" type="button">
          <svg class="products-button__icon" width="13" height="13">
            <use href="images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li
        class="products-item products-item__milkshakes"
        class="products-item products-item__milkshakes"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <h3 class="products-name">milkshakes</h3>
        <p class="products-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products-button" type="button">
          <svg class="products-button__icon" width="13" height="13">
            <use href="images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
