<section class="products" id="products">
  <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-list">
      <li
        class="products__wrapper"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1500"
      >
        <div class="products__ice-cream--flip">
          <div class="products-item products-item__ice-cream">
            <h3 class="products-name">ice cream</h3>
            <p class="products-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
              <span class="product-desc__mobile">magna aliqua facilisis.</span>
            </p>
            <button class="products-button ice-cream-btn-turn-to-back" type="button">
              <svg class="products-button__icon" width="13" height="13">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="ice-cream-card-back">
            <p class="products-description-back">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products-button ice-cream-btn-turn-to-front" type="button">
              <svg class="products-button__icon" width="13" height="13">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li
        class="products__wrapper"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1500"
      >
        <div class="products__ice-coffee--flip">
          <div class="products-item products-item__ice-coffee">
            <h3 class="products-name">ice coffee</h3>
            <p class="products-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
              <span class="product-desc__mobile">magna aliqua facilisis.</span>
            </p>
            <button class="products-button ice-coffee-btn-turn-to-back" type="button">
              <svg class="products-button__icon" width="13" height="13">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="ice-coffee-card-back">
            <p class="products-description-back">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products-button ice-coffee-btn-turn-to-front" type="button">
              <svg class="products-button__icon" width="13" height="13">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li
        class="products__wrapper"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1500"
      >
        <div class="products__milkshakes--flip">
          <div class="products-item products-item__milkshakes">
            <h3 class="products-name">milkshakes</h3>
            <p class="products-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
              <span class="product-desc__mobile">magna aliqua facilisis.</span>
            </p>
            <button class="products-button milkshakes-btn-turn-to-back" type="button">
              <svg class="products-button__icon" width="13" height="13">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="milkshakes-card-back">
            <p class="products-description-back">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products-button milkshakes-btn-turn-to-front" type="button">
              <svg class="products-button__icon" width="13" height="13">
                <use href="images/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
