<div class="backdrop is-hidden" data-readmore>
  <div class="modal readmore">
    <button type="button" class="modal__close" data-readmore-close>
      <svg class="modal__close-icon" width="18" height="18">
        <use href="./images/icons.svg#closemodal"></use>
      </svg>
    </button>
    <form class="join-form readmore__form" autocomplete="off">
      <h2 class="join-form__title readmore__title">How much cows need for your ice cream?</h2>
      <label class="join-form__label">
        <input
          class="join-form__input readmore__input"
          type="text"
          name="icecreams"
          placeholder=" "
          id="icecreams"
        />
        <span class="join-form__name readmore__name">How much 🍦 your eat?</span>
      </label>
      <button class="join-form__submit showme-btn" type="submit">Show me!</button>
      <div class="readmore__description"></div>
    </form>
  </div>
</div>
