<section class="testimonials" id="testimonials">
  <h2 class="testimonials__title">Testimonials</h2>
  <div class="container container-slider">
    <div class="slider">
      <div class="slider__wrapper">
        <ul class="slider__items">
          <li class="slider__item">
            <div class="slider__image-container">
              <picture>
                <source
                  srcset="
                    /images/testimonials/webp/testimonial_1_1x.webp  85w,
                    /images/testimonials/webp/testimonial_1_2x.webp 170w
                  "
                  type="image/webp"
                  sizes="85px"
                />
                <source
                  srcset="
                    /images/testimonials/testimonial_1_1x.png  85w,
                    /images/testimonials/testimonial_1_2x.png 170w
                  "
                  sizes="85px"
                />
                <img
                  class="testimonials__image"
                  src="/images/testimonials/testimonial_1_1x.png"
                  alt="commentator 1"
                  width="85"
                />
              </picture>
            </div>
            <div class="slider__wrap">
              <p class="slider__text">
                Delicious ice cream with a very smooth structure, interesting flavor combinations,
                definitely worth of trying!<span class="slider__icon"></span>
              </p>
            </div>
            <p class="slider__owner">Emily, Los Angeles</p>
          </li>
          <li class="slider__item">
            <div class="slider__image-container">
              <picture>
                <source
                  srcset="
                    /images/testimonials/webp/testimonial_2_1x.webp  85w,
                    /images/testimonials/webp/testimonial_2_2x.webp 170w
                  "
                  type="image/webp"
                  sizes="85px"
                />
                <source
                  srcset="
                    /images/testimonials/testimonial_2_1x.png  85w,
                    /images/testimonials/testimonial_2_2x.png 170w
                  "
                  sizes="85px"
                />
                <img
                  class="testimonials__image"
                  src="/images/testimonials/testimonial_2_1x.png"
                  alt="commentator 2"
                  width="85"
                />
              </picture>
            </div>
            <div class="slider__wrap">
              <p class="slider__text">
                My favorite ice coffee in the world. Their drinks are made with love and perfection!
                <span class="slider__icon"></span>
              </p>
            </div>
            <p class="slider__owner">Ida, Ohio</p>
          </li>
          <li class="slider__item">
            <div class="slider__image-container">
              <picture>
                <source
                  srcset="
                    /images/testimonials/webp/testimonial_3_1x.webp  85w,
                    /images/testimonials/webp/testimonial_3_2x.webp 170w
                  "
                  type="image/webp"
                  sizes="85px"
                />
                <source
                  srcset="
                    /images/testimonials/testimonial_3_1x.png  85w,
                    /images/testimonials/testimonial_3_2x.png 170w
                  "
                  sizes="85px"
                />
                <img
                  class="testimonials__image"
                  src="/images/testimonials/testimonial_3_1x.png"
                  alt="commentator 3"
                  width="85"
                />
              </picture>
            </div>
            <div class="slider__wrap">
              <p class="slider__text">
                Great service and excellent milkshakes! 5 stars are not enough!
                <span class="slider__icon"></span>
              </p>
            </div>
            <p class="slider__owner">Joan, Boston</p>
          </li>
        </ul>
      </div>
      <a class="slider__control slider__control--prev" href="#" role="button" data-slide="prev"></a>
      <a class="slider__control slider__control--next" href="#" role="button" data-slide="next"></a>
    </div>
  </div>
</section>
