<section class="testimonials container-testimonials">

<img src="/images/testimonials/testimonial_1_1x.png" alt="reviewer1" class="testimonials__image">

<div class="testimonials__review">
    
   

<p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
congue. Lorem ipsum primis in nibh vel risus. 
<span><svg class="testimonials__icon" width="54" height="40">
    <use href="/images/icons.svg#testimonials">
    </use>
</svg>
</span> </p>

</div>

<p class="testimonials__name">Emily, Los Angeles</p>

</section>