<!-- <section class="testimonials container-testimonials">

<img src="/images/testimonials/testimonial_1_1x.png" alt="reviewer1" class="testimonials__image">

<div class="testimonials__review">
    
   

<p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
congue. Lorem ipsum primis in nibh vel risus. 
<span><svg class="testimonials__icon" width="54" height="40">
    <use href="/images/icons.svg#testimonials">
    </use>
</svg>
</span> </p>

</div>

<p class="testimonials__name">Emily, Los Angeles</p>

</section> -->

<section class="testimonials" id="testimonials">
    <h2 class="testimonials__title">Testimonials</h2>
    <div class="container container-testimonials">
        <div class="itcss">
            <div class="itcss__wrapper">
                <ul class="itcss__items">
                    <li class="itcss__item">
                        <div class="testimonials__image-container">
                           <img src="/images/testimonials/testimonial_1_1x.png" />
                        </div>
                        <div class="testimonials__wrap">
                            <p class="testimonials__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </p>
                            <svg class="testimonials__icon" width="54" height="40">
                                <use href="/images/icons.svg#testimonials"></use>
                            </svg>
                        </div>
                        <p class="testimonials__owner">Emily, Los Angeles</p>
                    </li>
                    <li class="itcss__item">
                        <div class="testimonials__image-container">
                            <img src="/images/testimonials/testimonial_2_1x.png" />
                        </div>
                        <div class="testimonials__wrap">
                            <p class="testimonials__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </p>
                            <svg class="testimonials__icon" width="54" height="40">
                                <use href="./images/icons.svg#testimonials"></use>
                            </svg>
                        </div>
                        <p class="testimonials__owner">Ida, Ohio</p>
                    </li>
                    <li class="itcss__item">
                        <div class="testimonials__image-container">
                            <img src="/images/testimonials/testimonial_3_1x.png" />
                        </div>
                        <div class="testimonials__wrap">
                            <p class="testimonials__text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </p>
                            <svg class="testimonials__icon" width="54" height="40">
                                <use href="./images/icons.svg#testimonials"></use>
                            </svg>
                        </div>
                        <p class="testimonials__owner">Joan, Boston</p>
                    </li>
                </ul>
            </div>
            <a class="itcss__control itcss__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="itcss__control itcss__control_next" href="#" role="button" data-slide="next"></a>
        </div>
    </div>
</section>