.about {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $bgc-main-color-FFF5F6;
  width: 100%;
  &::after {
    content: '';
    position: absolute;
    bottom: calc((100vh - 285px) * -1);
    z-index: 1;
   
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 100vh;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: calc((100vh - 285px) * -1);
    z-index: 1;
    right: 0;
    background-image: image-set(
      '../images/about/milkmx1-right.png' 1x,
      '../images/about/milkmx2-right.png' 2x,
      '../images/about/milkmx3-right.png' 3x
    );
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 100vh;
  }
}

.about__label {
  margin-bottom: 15px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: $accent-pink-color-FFA5BA;
}
.about__title {
  margin-bottom: 32px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-red-color-D41443;
}

.about__pic {
  background-image: image-set(
    '../images/about/m1x1.png' 1x,
    '../images/about/m1x2.png' 2x,
    '../images/about/m1x3.png' 3x
  );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 279px;
}

.about__description {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  padding-right: calc(100vw - (100vw - 60px));

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $text-black-color-000000;
}

.about__text {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  padding-right: 60px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $main-text-color-907E82;
}

.contacts__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__btn {
  width: 176px;
  height: 44px;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  background-color: $bgc-white-color-FFFFFF;
  color: #d41342;
  border-radius: 22px;

  &:hover,
  &:focus {
    background-color: $bgc-white-item-hover-ECEBEB;
  }
}

.about__btn-icon {
  stroke: #d41342;
}


@media screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
    padding-bottom: 40px;
    &::after {
      opacity: 0;
    }

    &::before {
      opacity: 0;
    }
  }

  .about__label {
    margin-bottom: 16px;
    font-size: 26px;
  }
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
  }

  .about__description {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.76;
  }

  .about__text {
    margin-bottom: 40px;
    padding-right: 0;
    font-size: 14px;
    line-height: 1.76;
    color: $main-text-color-907E82;
  }

  .about__wrap {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  .about__pic {
    background-image: image-set(
      '../images/about/t1x1.png' 1x,
      '../images/about/t1x2.png' 2x,
      '../images/about/t1x3.png' 3x
    );
    background-position: left;
    width: 100%;
    height: 335px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: $bgc-main-color-FFF5F6;
    width: 100%;
    &::after {
      opacity: 1;
      top: 236px;
      background-image: image-set(
        '../images/about/milkdx1-left.png' 1x,
        '../images/about/milkdx2-left.png' 2x
      );
      width: 300px;
      height: 100%;
    }

    &::before {
      opacity: 1;
      top: 236px;
      right: 0;
      background-image: image-set(
        '../images/about/milkdx1-right.png' 1x,
        '../images/about/milkdx2-right.png' 2x
      );
      width: 300px;
      height: 100%;
    }
  }

  .about__label {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }

  .about__title {
    margin-bottom: 80px;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }

  .about__description {
    margin-bottom: 32px;

    font-size: 16px;
    letter-spacing: 0.04em;
  }

  .about__text {
    line-height: 1.94;
    letter-spacing: 0.04em;
  }

  .about__pic {
    background-image: image-set(
      '../images/about/d1x1.png' 1x,
      '../images/about/d1x2.png' 2x,
      '../images/about/d1x3.png' 3x
    );
    height: 501px;
  }
}
