.advantages {
  width: 100%;
  background-color: #fff5f6;
  padding-top: 20px;
  padding-bottom: 80px;
}

.advantages__title {
  @extend %visually-hidden;
}

.advantages__list {
  @media screen and(min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  @media screen and(min-width:1200px) {
    gap: 106px;
  }
}

.advantages__item {
  max-width: 230px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @include mq(tablet) {
    max-width: 180px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  @include mq(desktop) {
    max-width: 320px;
  }
}

.advantages__content {
  @include font(700, 12px, 1.7);
  &::before {
    content: '';
    height: 50px;
    width: 100%;
    display: block;
    background-image: -webkit-image-set(
      url(../images/advantages/icon1.png) 1x,
      url(../images/advantages/icon1-2x.png) 2x,
      url(../images/advantages/icon1-3x.png) 3x
    );
    background-repeat: no-repeat;
    margin-bottom: 16px;
  }
  @include mq(tablet) {
    @include font(700, 14px, 1.74);
  }
  @include mq(desktop) {
    @include fonts(700, 16px, 1.74, 0.02em);
  }
  &--icon2::before {
    background-image: -webkit-image-set(
      url(../images/advantages/icon2.png) 1x,
      url(../images/advantages/icon2-2x.png) 2x,
      url(../images/advantages/icon2-3x.png) 3x
    );
  }
  &--icon3::before {
    background-image: -webkit-image-set(
      url(../images/advantages/icon3.png) 1x,
      url(../images/advantages/icon3-2x.png) 2x,
      url(../images/advantages/icon3-3x.png) 3x
    );
  }
}

.advantages__text {
  display: block;
  margin-bottom: 15px;
  font-family: 'Titan One';
  @include fonts(400, 36px, 1.14);
  text-transform: uppercase;
  color: $accent-red-color-D41443;
  @include mq(tablet) {
    margin-bottom: 13px;
    font-size: 48px;
  }
  @include mq(desktop) {
    margin-bottom: 16px;
    font-size: 58px;
  }
}
