.gallery {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    @extend %visually-hidden;
  }
  &__item {
    position: relative;
  }
  &__image {
    object-fit: cover;
    transition: transform 250ms linear;
  }
  &__image:hover {
    transform: scale(1.03);
  }
  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  &__link:hover {
    cursor: zoom-in;
  }
}
