.header {
  position: absolute;
  width: 100%;
  background-color: $bgc-hero-color-FFB8CA;
  padding-top: 8px;

  @include mq(tablet) {
    padding-top: 32px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;

  @include mq(mobile-only) {
    justify-content: space-between;
  }
}

.animate__bounceInDown {
  animation-duration: 1.5s;
}

.header-logo__link {
  transition: transform 250ms $typical-cubic;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  @include mq(desktop) {
    z-index: 3;
    position: relative;
    margin-right: 135px;
  }
}

.header-btn {
  @include mq(tablet) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.btn__menu {
  background-color: $bgc-hero-color-FFB8CA;
  height: 20px;
  position: relative;
  z-index: 3;

  @include mq(tablet-only) {
    margin-right: 16px;
  }

  @include mq(desktop) {
    display: none;
  }
}

.btn-buy {
  display: none;

  @include mq(tablet) {
    @include center;
    color: $accent-red-color-D41443;
    background-color: $bgc-white-color-FFFFFF;
    border-radius: 22px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    padding-left: 37px;
    padding-right: 37px;
    height: 44px;
    position: relative;
    z-index: 3;
    transition: transform 250ms $typical-cubic;

    @include mq(tablet-only) {
      margin-left: 16px;
    }

    &:hover,
    &:focus {
      background-color: #ecebeb;
      transform: scale(1.1);
    }
  }
}

.btn-buy__icon {
  margin-left: 16px;
  width: 5px;
  height: 8px;
  stroke: $accent-red-color-D41443;
}

.nav {
  @include mq(notDesktop) {
    display: none;
  }

  @include font-menu(700, 16px, 1.31);
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0px;
  }
}

.nav__link {
  display: block;
  color: $text-white-color-FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: $typical-transition-color, transform 250ms $typical-cubic;

  &:hover,
  &:focus {
    color: $accent-red-color-D41443;
    transform: scale(1.1);
  }
}
