.header {
  position: relative;
  width: 100vw;

  background-color: $bgc-hero-color;
  z-index: 2;
}

.header__wrapper {
  overflow: hidden;
}

.header__logo {
  padding-top: 8px;
}

.header__container {
  height: 500px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 83px;
    left: 36px;
    border-radius: 50%;
    width: 345px;
    height: 345px;
    background-color: #ffa5ba;
  }
}

.header__image {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 2;
}

.header__title {
  position: relative;
  z-index: 3;
  margin-top: 136px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  &--color-fz {
    color: $accent-red-color;
    font-size: 37px;
  }
}

.header__buttons {
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: 20px;
}

.header__btn {
  text-decoration: none;
  height: 24px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: $accent-red-color;
  color: $text-white-color;
  border-radius: 20px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  &--secondary {
    color: $accent-red-color;
    background-color: $bgc-white-color;
    margin-left: 8px;
  }
}

.mobile-menu__button-open {
  position: absolute;
  top: 27px;
  right: 0;
  fill: #d41443;
  z-index: 60;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

.mobile-menu__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #ffffff;
  background-color: transparent;
  z-index: 60;
  cursor: pointer;
  display: flex;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 50;

  background-color: #e17992;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);

  transition: transform 250ms $typical-cubic, opacity 250ms $typical-cubic,
    visibility 250ms $typical-cubic;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }
}

.mobile-menu__overlay {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mobile-menu__btn-buy {
  width: 100%;
  max-width: 100%;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  cursor: pointer;
  background-color: $bgc-white-color;
  color: #d41342;
  border-radius: 22px;
}

.mobile-menu__list {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 120px;

    width: 250px;
    height: 1px;
    background-color: #e18298;
  }
}

.mobile-menu__item {
  margin-bottom: 26px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: -11px;
    width: 250px;
    height: 1px;
    background-color: #e18298;
  }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #e18298;
  color: #ffffff;
}

.mobile-menu__btn-icon {
  stroke: #d41342;
  margin-left: 16px;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
}
