.hero {
  background-color: $bgc-hero-color-FFB8CA;
  overflow: hidden;
}

.hero__container {
  display: flex;
  position: relative;
  height: 502px;
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 83px;
    left: 36px;
    border-radius: 50%;
    width: 345px;
    height: 345px;
    background-color: $accent-pink-color-FFA5BA;
    @include mq(tablet) {
      left: 248px;
      top: 43px;
      width: 335px;
      height: 335px;
    }
    @include mq(desktop) {
      width: 534px;
      height: 534px;
      left: 517px;
      top: 54px;
    }
  }

  @include mq(tablet) {
    height: 416px;
  }

  @include mq(desktop) {
    height: 664px;
  }
}
.hero__content {
  padding-top: 194px;

  @include mq(tablet) {
    padding-top: 102px;
  }
  @include mq(desktop) {
    padding-top: 147px;
  }
}

.hero__title {
  @include fonts(400, 26px, 1.15);
  font-family: 'Titan One';

  text-transform: uppercase;
  position: relative;
  z-index: 3;

  color: $text-white-color-FFFFFF;

  @include mq(tablet) {
    @include fonts(400, 22px, 1.14);
  }
  @include mq(desktop) {
    @include fonts(400, 38px, 1.16);
  }
}

.hero__title--red {
  @include fonts(400, 48px, 0.95);
  font-family: 'Titan One';

  text-transform: uppercase;

  color: $accent-red-color-D41443;

  @include mq(tablet) {
    @include fonts(400, 34px, 0.91);
  }
  @include mq(desktop) {
    @include fonts(400, 58px, 0.91);
  }
}
.hero__numbers {
  position: absolute;

  z-index: 3;
  @include mq(mobile-only) {
    display: none;
  }
  @include mq(tablet) {
    top: 92px;
    right: 32px;
  }
  @include mq(desktop) {
    top: 153px;
    right: 16px;
  }
}
.hero__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  position: relative;
  @include mq(desktop) {
    padding-right: 18px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 16px;
    height: 16px;
    background-color: $bgc-white-color-FFFFFF;
    border-radius: 50%;

    @include mq(desktop) {
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.test {
  display: block;
}
.hero__item-title {
  text-align: right;
  position: relative;
  z-index: 3;

  @include fonts(400, 28px, 1.14);
  font-family: 'Titan One';

  text-transform: uppercase;

  color: $accent-red-color-D41443;

  @include mq(desktop) {
    @include fonts(400, 46px, 1.15);
  }
}
.hero__item-text {
  font-family: 'DM Sans';
  text-transform: lowercase;
  display: block;
  @include fonts(400, 8px, 1.25);

  color: $bgc-white-color-FFFFFF;

  @include mq(desktop) {
    @include fonts(400, 14px, 1.29);
  }
}

.hero__button {
  position: relative;
  z-index: 3;
  @include fonts(400, 8px, 1.25);

  color: $text-white-color-FFFFFF;
  padding: 10px 14px;
  background-color: $accent-red-color-D41443;
  border-radius: 20px;
  transition: $typical-transition-background, $typical-transition-transform;
  letter-spacing: 0;
  transform: scale(1);
  display: block;

  &:hover,
  &:focus {
    transform: scale(1.15);
    background-color: $bgc-red-item-hover-C7133E;
  }

  @include mq(desktop) {
    @include fonts(400, 14px, 1.3);
    letter-spacing: 0;
    padding: 10px 24px;
  }
}

.hero__button--light {
  background-color: $text-white-color-FFFFFF;
  color: $accent-red-color-D41443;
  transition: $typical-transition-background, $typical-transition-transform;
  &:hover,
  &:focus {
    background-color: $bgc-white-item-hover-ECEBEB;
  }
}

.button__animation {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    gap: 12px;
  }
}

.hero__text-block {
  position: absolute;
  width: 114px;
  left: 184px;
  bottom: 56px;
  z-index: 3;
  @include mq(desktop) {
    width: 200px;
    left: 229px;
    bottom: 84px;
  }
}

.hero__text {
  margin-bottom: 7px;
  @include fonts(400, 8px, 1.5);

  color: $text-white-color-FFFFFF;
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    @include fonts(400, 14px, 1.4);
    margin-bottom: 20px;
  }
}
.hero__arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 101;
  background-color: $text-white-color-FFFFFF;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  fill: $accent-red-color-D41443;
  transition: $typical-transition-background, $typical-transition-fill,
    $typical-transition-transform;
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.15);
    background-color: #f3416d;
  }

  @include mq(mobile-only) {
    display: none;
  }
  @include mq(desktop) {
    width: 26px;
    height: 26px;
  }
}

.hero__arrow:hover .hero__arrow--icon,
.hero__arrow:focus .hero__arrow--icon {
  fill: rgb(53, 18, 18);
}
.hero__arrow--icon {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
}

.hero__icecream {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 117px;

  @include mq(tablet) {
    left: 332px;
  }
  @include mq(desktop) {
    left: 636px;
  }
}

.hero__milk {
  position: absolute;
  bottom: 16px;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    bottom: 60px;
  }
}
.hero__girl {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 3;
  @include mq(mobile-only) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    right: 16px;
  }
}

// animation
@include mq(tablet) {
  .animate__rubberBand {
    animation-duration: 3s;
  }

  .animate__fadeInUpBig {
    animation-duration: 2s;
  }
  .animate__rubberBand {
    animation-duration: 2s;
  }
  .animate__fadeInBottomRight {
    animation-duration: 1.5s;
  }
  .animate__bounceInDown {
    animation-duration: 1.5s;
  }
  .animate__fadeIn {
    animation-duration: 2s;
    animation-delay: 3s;
  }

  .button__animation {
    opacity: 0;
    animation: animation 2s forwards;
    animation-delay: 1.5s;
  }

  @keyframes animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// scroll

.arrowUp {
  position: fixed;
  z-index: 10;
  bottom: 5%;
  right: 3%;
  color: #fff;
  width: 50px;
  height: 50px;
  background: $accent-pink-color-FFA5BA;
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
  opacity: 0.6;
  transition: $typical-transition-background;
}

.arrowUp:hover {
  background-color: $accent-red-color-D41443;
}

.hero__text--description {
  display: none;
}

@include mq(mobile-only) {
  .visible {
    display: none !important;
  }
}

.visible {
  display: block;
}
