body.menu-open {
    overflow: hidden;
}
.overlay {
    background-image: linear-gradient(to right, rgb(255, 245, 246, 0.3), rgb(255, 184, 0, 0.3));
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
    z-index: 999;

    pointer-events: none;
    overflow-y: scroll;
    transition: transform 500ms $typical-cubic;

    &.is-open {
        transform: translate(0);
        transition: transform 500ms $typical-cubic;
        pointer-events: all;
    }
}

   .menu {
   display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background-color: $bgc-menu-E17992;
    z-index: 100;
    overflow-y: scroll;

    @include mq (mobile) {
         width: 45vw;
         margin-left: auto;
         }
  }

  .menu-container {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  }
    
    .menu-close {
        @include center;
        background-color: transparent;
        margin-right: 20px;
        margin-left: auto;
        margin-bottom: 26px;
    }
    
    .menu-close__icon {
        width: 13px;
        height: 14px;
        stroke: $bgc-white-color-FFFFFF;
        transition: stroke 250ms $typical-cubic, transform 500ms $typical-cubic;
    
        .menu-close:hover &,
        .menu-close:focus & {
            stroke: $accent-red-color-D41443;
            transform: rotate(90deg) scale(1.2);
        }
}
        .menu-button {
            @include center;
            color: $accent-red-color-D41443;
            background-color: $bgc-white-color-FFFFFF;
            border-radius: 22px;
            text-align: center;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 19px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
    
        padding-left: 49px;
        padding-right: 49px;
        max-width: 210px;
        height: 44px;
        transition: $typical-transition-background, transform 250ms $typical-cubic;
    
        &:hover,
        &:focus {
            background-color: #ECEBEB;
            transform: scale(1.1)
        }
    }
    
    .menu-button__icon {
        margin-left: 16px;
        width: 5px;
        height: 8px;
        stroke: $accent-red-color-D41443;
    }
    
    .menu-nav {
        @include font-menu (700, 14px, 1.29)
    }
    
    .menu-nav__item {
        border-top: 1px solid #E18298;
    
        &:last-child {
            border-bottom: 1px solid #E18298;
        }
    }
    
    .menu-nav__link {
        display: inline-block;
        color: $text-white-color-FFFFFF;
        padding-top: 13px;
        padding-bottom: 11px;
        transition: $typical-transition-color;
    
        &:hover,
        &:focus {
            color: $accent-red-color-D41443;
        }
}
.list-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.socials__list {
        @include center;
            margin-top: auto;
}

.socials__item:not(:last-child) {
    margin-right: 30px;
}
.socials__icon {
    fill: rgb(255, 0, 0);
    width: 34px;
    height: 34px;
    transition: $typical-transition-fill;
    
        .socials__link:hover & {
            fill: $accent-red-color-D41443
        }
    }
    
    .tel-number {
        text-align: center;
        margin-top: 20px;
    
        font-weight: 700;
        font-size: 15px;
        line-height: 1.86;
    
        @include mq (mobile) {
            font-size: 1.9vw;
        }
    }
    
    .tel-number__link {
        color: $accent-red-color-D41443;
        padding-left: 5px;
}