    .products {
        width: 100%;
        font-style: normal;
        text-transform: uppercase;
    }

    .products-label {
        font-family: 'Titan One';
        letter-spacing: 0.04em;
        color: $accent-pink-color-FFA5BA;
        text-align: center;
    }

    .products-title {
        font-family: 'Titan One';
        letter-spacing: 0.06em;
        color: $accent-red-color-D41443;
        text-align: center;
    }

    .products-list {
        list-style: none;
        padding-bottom: 40px;
    }

    .products-item {
        position: relative;
        border-radius: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .products-item__ice-cream {
        background-color: $bgc-hero-color-FFB8CA;
    }

    .products-item__ice-coffee {
        background-color: #F0D1A5;
    }

    .products-item__milkshakes {
        background-color: #C2E297;
    }

    .products-name {
        font-family: 'Titan One';
        letter-spacing: 0.04em;
        color: $text-white-color-FFFFFF;
        text-align: center;
    }

    .products-description {
        font-weight: 700;
        letter-spacing: 0.04em;
        color: $text-white-color-FFFFFF;
        text-align: center;
        text-transform: none;
    }

    .products-button {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: transparent;
        outline: none;
        border: none;
    }

    @media screen and (max-width: 767px) {
        .products-label {
            font-size: 18px;
            line-height: 1.17;
            //  line-height: 21px;
            padding-top: 80px;
            margin-bottom: 15px;
        }
        .products-title {
            font-size: 34px;
            line-height: 1.15;
            // line-height: 39px;
            margin-bottom: 148px;
        }
        .products-item {
            width: 280px;
            height: 489px;
        }
        .products-item:not(:last-child) {
            margin-bottom: 140px;
        }
        .products-item__ice-cream::before {
            content: '';
            position: absolute;
            top: -140px;
            background-image: url(../images/products-section/home-pic1.png);
            width: 100%;
            height: 280px;
        }
        .products-item__ice-coffee::before {
            content: '';
            position: absolute;
            top: -140px;
            background-image: url(../images/products-section/home-pic2.png);
            width: 100%;
            height: 280px;
        }
        .products-item__milkshakes::before {
            content: '';
            position: absolute;
            top: -140px;
            background-image: url(../images/products-section/home-pic3.png);
            width: 100%;
            height: 280px;
        }
        .products-name {
            font-size: 20px;
            line-height: 1.15;
            // line-height: 23px;
            padding-top: 160px;
            padding-bottom: 70px;
        }
        .products-description {
            font-size: 14px;
            line-height: 1.52;
            padding-right: 39px;
            padding-left: 41px;
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 768px) {
        .products-label {
            font-size: 26px;
            line-height: 1.15;
            //  line-height: 30px;
            padding-top: 40px;
            margin-bottom: 18px;
        }
        .products-title {
            font-size: 48px;
            line-height: 1.15;
            // line-height: 55px;
        }
        .products-name {
            font-size: 20px;
            line-height: 1.15;
            // line-height: 23px;
        }
        .products-description {
            font-size: 14px;
            line-height: 1.76;
            letter-spacing: 0.04em;
        }
    }

    @media screen and (min-width: 1280px) {
        .products-label {
            font-size: 30px;
            line-height: 1.13;
            //  line-height: 34px;
            padding-top: 59px;
            margin-bottom: 16px;
        }
        .products-title {
            font-size: 58px;
            line-height: 1.14;
            // line-height: 66px;
        }
        .products-name {
            font-size: 30px;
            line-height: 1.13;
            // line-height: 34px;
        }
        .products-description {
            font-size: 16px;
            line-height: 1.76;
        }
    }

    // @media (min-device-pixel-ratio: 2) and (min-width: 320px),
    // (min-resolution: 192dpi) and (min-width: 320px),
    // (min-resolution: 2dppx) and (min-width: 320px) {
    //     .products-item {
    //         background-image: ;
    //     }
    // }
    // @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    // (min-resolution: 192dpi) and (min-width: 768px),
    // (min-resolution: 2dppx) and (min-width: 768px) {
    //     .products-item {
    //         background-image: ;
    //     }
    // }
    // @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
    // (min-resolution: 192dpi) and (min-width: 1280px),
    // (min-resolution: 2dppx) and (min-width: 1280px) {
    //     .products-item {
    //         background-image: ;
    //     }
    // }