.readmore {
  &.modal {
    padding-bottom: 50px;
  }
  &__accent {
    text-transform: uppercase;
    color: $accent-red-color-D41443;
  }
  &__text {
    font-family: 'Titan One';
    color: $main-text-color-907E82;
    line-height: 2;
    @media screen and (max-width: 479px) {
      font-size: calc(8px + 1.5vw);
    }
  }
  &__title {
    @media screen and (max-width: 479px) {
      display: inline-block;
      width: 74%;
      margin-left: auto;
      margin-right: auto;
      font-size: calc(12px + 1.5vw);
    }
  }
  &__name {
    @media screen and (max-width: 479px) {
      transform: translateY(35px) translateX(80px) scale(1.5);
    }
  }
  &__input {
    margin-bottom: 30px;
  }
}

.showme-btn {
  margin-bottom: 30px;
}
